@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Candidates" asp-action="Index">Đến trang Candidate</a><br />
    <a asp-controller="Employers" asp-action="Index">Đến trang Employer</a><br />
    <a asp-controller="Applications" asp-action="Index">Đến trang Application</a><br />
    <a asp-controller="Joblists" asp-action="Index">Đến trang Joblist</a><br />
    <a asp-controller="Applications" asp-action="JobForCandidates">Đến trang Nộp CV</a><br />
</div>
